<!DOCTYPE html>
<html>
<head>
    <title>Update Records</title>
</head>
<body>
    <h1>Update Records</h1>
    <form action="/update_records" method="post">
        <label for="group_id">Group ID:</label><br>
        <input type="text" id="group_id" name="group_id"><br>
        <label for="vehicle_id">Vehicle ID:</label><br>
        <input type="text" id="vehicle_id" name="vehicle_id"><br>
        <label for="vehicle_details">Vehicle Details:</label><br>
        <input type="text" id="vehicle_details" name="vehicle_details"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>